alabaster==0.7.12
anaconda-navigator==1.9.7
aniso8601==9.0.1
apipkg==1.5
appdirs==1.4.4
async-generator==1.10
atomicwrites==1.4.0
backports.os==0.1.1
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
blinker==1.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
colorama==0.4.3
comtypes==1.1.10
conda==4.11.0
conda-build==3.18.9
conda-verify==3.4.2
cvlib==0.2.3
cycler==0.10.0
cytoolz==0.11.0
dask==2021.10.0
deprecation==2.0.7
Django==3.0.3
docker==5.0.3
docx==0.2.4
entrypoints==0.3
ERPpeek==1.7.1
et-xmlfile==1.1.0
execnet==1.7.1
extend-me==1.1.4
fastcache==1.1.0
findspark==1.3.0
Flask-API==2.0
Flask-Cors==3.0.8
Flask-JWT-Extended==4.3.0
Flask-Mail==0.9.0
flask-marshmallow==0.14.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-Session==0.3.1
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
fonttools==4.25.0
future==0.18.2
h5py==2.10.0
haversine==2.3.0
iloveflask==0.1.0
imutils==0.5.3
influxdb==5.3.0
ipyparallel==6.2.4
JayDeBeApi==1.1.1
JPype1==0.6.3
jupyter==1.0.0
kafka-python==2.0.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
liac-arff==2.4.0
livy==0.6.0
llvmlite==0.32.0
locket==0.2.1
marshmallow==3.13.0
mccabe==0.6.1
menuinst==1.4.16
metakernel==0.24.3
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.6.5
numba==0.49.0
odoo-connector==1.0.3
odoo-rpc-client==1.0.0
olefile==0.46
openerp-client-lib==1.1.2
paho-mqtt==1.5.1
pandas-datareader==0.8.1
passlib==1.7.2
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect==4.7.0
Pillow==8.4.0
pip==21.3.1
pkginfo==1.7.1
ply==3.11
portalocker==1.5.1
pprint==0.1
progressbar==2.5
psycopg2==2.9.2
ptyprocess==0.6.0
pure-sasl==0.6.2
py4j==0.10.7
pycosat==0.6.3
pycrypto==2.6.1
pycurl==7.44.1
pyEX==0.1.16
Pygments==2.6.1
PyHive==0.6.2
pyhs2==0.6.0
PyJWT==2.1.0
pylivy==0.0.4
pymongo==3.10.1
PyMySQL==1.0.2
pyodbc===4.0.0-unsupported
pyPdf==1.13
pypiwin32==223
pyreadline==2.1
pyspark==2.4.5
pytest==6.2.4
pytest-remotedata==0.3.2
pytest-shutil==1.7.0
python-docx==0.8.11
pytz==2021.3
pywin32==227
pywinpty==0.5.7
PyYAML==6.0
readme-renderer==26.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
sasl==0.2.1
scikit-image==0.18.3
setuptools==50.3.0
simplegeneric==0.8.1
simplejson==3.17.2
socketIO-client-nexus==0.7.6
Sphinx==4.2.0
spyder==3.3.6
spyder-kernels==0.5.2
spylon==0.3.0
spylon-kernel==0.4.1
sseclient==0.0.24
statsmodels==0.13.0
tables==3.6.1
tbb==2019.0
termcolor==1.1.0
terminado==0.9.4
thrift==0.13.0
thrift-sasl==0.4.1
torch==1.3.1
torchvision==0.4.2
twine==3.2.0
umap-learn==0.4.2
unicodecsv==0.14.1
urllib3==1.26.7
webencodings==0.5.1
websocket-client==0.57.0
wheel==0.35.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xgboost==1.2.0
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
